body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

#wrapper {
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

header {
  margin:0;
  background-color: pink;
  height:400px;
}

nav a {
  display: block;
  width: 10%;
  background-color: pink;
  color: #000;
  text-align: center;
  text-decoration: none;
  float: right;
}

section {
  width: 55%;
  float: left;
  clear:both;
  background-color: pink;
}

aside {
  width: 25%;
  float: left;
  margin-left:5%;
  background-color: red;
}

footer {
  clear: both;
  background-color: #ddd;
  color:#fff;
}


#top-link {
    display: block;
    color: #fff;
    bottom: -60px;
    position: fixed;
    right: 40px;
    width: 50px;
    height: 50px;
    z-index: 999;
    text-align: center;
    background-color: #e2c0c7;
}
#top-link:before {
    font-family: "FontAwesome";
    display: block;
    content: "";
    font-size: 20px;
    margin-top: 5px;
}
#top-link span {
    position: absolute;
    bottom: 7px;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
#top-link:hover {
    background-color: #000000;
    text-decoration: none;
}